name: Push & PR

on:
  pull_request:
    types: [opened, synchronize, reopened]
  push:
    branches: [main]

jobs:
  rspec:
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      matrix:
        activesupport: ['7.1', '7.2', '8.0']
        json_schemer: ['2.1', '2.2', '2.3', '2.4']
        ruby: ['3.2', '3.3', '3.4']
    env:
      ACTIVESUPPORT: '${{ matrix.activesupport }}'
      COVERAGE: 'true'
      JSON_SCHEMER: '${{ matrix.json_schemer }}'
    steps:
    - uses: actions/checkout@v3
    - name: Set up Ruby
      uses: ruby/setup-ruby@v1
      with:
        ruby-version: '${{ matrix.ruby }}'
        bundler-cache: true
        cache-version: ${{ matrix.activesupport }}-${{ matrix.json_schemer }}
    - name: Rspec
      run: bundle exec rspec

  rubocop:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v3
    - name: Set up Ruby
      uses: ruby/setup-ruby@v1
      with:
        ruby-version: 3.4
        bundler-cache: true
        cache-version: '7.1'
    - name: Rubocop
      run: bundle exec rubocop

  openapi:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v3
    - name: Validate openapi fixture
      run: npx @redocly/openapi-cli lint spec/fixtures/openapi/openapi.yaml
